/* Tablet: Apple iPad styles */

/* NOTE: I choose to make this style sheet to easy edited if future than embed to original syles.css file */

@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .row .col.m4 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}